@using SweetHome.Utils;
@model IEnumerable<SweetHome.Models.ShelterAnimal>
	<div class="shelter">
		<div class="shelter__container">
			<div class="shelter__background">
				<div class="shelter__background-overlay"></div>
				<img class="shelter__background-img" src="https://pp.vk.me/c5363/u5658988/146934159/y_7435481d.jpg"/>
				<div class="shelter__description">
					<h2 class="shelter__title">Приют "Друг" </h2>
					<div class="shelter__slogan">
					</div>
					<!--<div class="vk"> <a href="https://vk.com/sobakot74" target="_blank">Группа Вконтакте</a> </div>-->
					<div class="shelter__text">
						<p class="shelter__text-p">Приют "Друг" это 40 кошечек и около 100 собак, спасенных с улицы или
							из непростых жизненных ситуаций, в которых их бросили бывшие хозяева, живущих под одной
							крышей и ждущих тех, у кого найдется для них место в сердце, кто подарит им счастье быть
							любимыми и домашними, кто поможет забыть все плохое и покажет, что человек может не только
							обижать, но и заботиться </p>
					</div>
				</div>
			</div>
			<div class="shelter__hrefs">
				<a class="shelter__img-color"></a>
				<div class="shelter__link-container">
					<div class="shelter__link-img"
						style="background-image: url('/images/drug-logo.jpg');height:50px;width:50px;margin:0 auto;"
						title="Животные">
					</div>
					<span class="shelter__link-text">Наши животные </span>
				</div>
				<a class="shelter__img-color" href="https://vk.com/priutdrug74" target="_blank"></a>
				<div class="shelter__link-container">
					<div class="shelter__link-img"
						style="background-image: url('http://thedkmodels.com/vk.jpg');height:50px;width:50px;margin:0 auto;"
						title="Животные">
					</div>
					<span class="shelter__link-text">Группа вконтакте </span>
				</div>
				<a class="shelter__img-color" href="http://priutdrug74.ru/" target="_blank"></a>
				<div class="shelter__link-container">
					<div class="shelter__link-img"
						style="background-image: url('http://m.viitorcloud.com/images/domain.png');height:50px;width:50px;margin:0 auto;"
						title="сайт">
					</div>
					<span class="shelter__link-text">Веб-сайт </span>
				</div>
			</div>
			<!--</div>-->
			<!--<div class="shelter__link-img" style="background-image: url('https://pp.vk.me/c310620/v310620988/4e83/qfhlJyFDDiE.jpg');width:250px;height:600px;" title="1">-->
		</div>
	</div>

	<div class="shelter-animals">
		@foreach(var animal in Model)
		{
			<a class="shelter-animals__image-item" href="/Home/Animals?animal_id=@animal.Id">
				<div class="shelter-animals__img-color">
					<h4 class="shelter-animals__img-item-name">@animal.Name</h4>
					@if(animal.BirthDay != null)
					{
						<h5 class="shelter-animals__img-item-info">
							@DateUtils.Age(animal.BirthDay.GetValueOrDefault(),DateTime.UtcNow)</h5>
						}
					}

				</div>
				<div class="shelter-animals__img img"
					style="background-image: url('@animal.Images[0].Url');">
				</div>
			</a>
		}
	</div>


	<div class="shelter-help">
		<h1 class="shelter-help__title">КАК ПОМОЧЬ</h1>
		<div class="shelter-help__container">
			<div class="shelter-help__message-info">
				<h3 class="shelter-help__message-info-title"> Нужды приюта </h3>
				<p class="shelter-help__message-info-p">Питание для собак</p>
				<ul class="shelter-help__message-info-list">
					<li class="shelter-help__message-info-list-item">Крупы: рис, геркулес, гречка</li>
					<li class="shelter-help__message-info-list-item">Мясо: курица, говядина, полуфабрикаты</li>
					<li class="shelter-help__message-info-list-item">КОРМ СУХОЙ</li>
					<li class="shelter-help__message-info-list-item">СУХОЙ ЛЕЧЕБНЫЙ КОРМ Роял Канин Renal</li>
				</ul>
				<p class="shelter-help__message-info-p">НАПОЛНИТЕЛЬ ДРЕВЕСНЫЙ</p>
				<p class="shelter-help__message-info-p">-info-list-item">Для утепления будок постоянно нужны СТАРЫЕ
					ПАЛЬТО</p>
				<p class="shelter-help__message-info-p">-info-list-item">В приюте очень нужны ФУФАЙКИ мужские, в
					основном, и женская.
					В процессе работы, они пачкаются, рвутся, мокнут, а потом очень долго сохнут,в общем приходят в
					негодность очень быстро </p>
			</div>
			<div class="shelter-help__message-info">
				<h3 class="shelter-help__message-info-title"> Пункты сбора</h3>
				<p class="shelter-help__message-info-p">-info-list-item">Пожалуйста, кто может помочь,</p>
				<ul class="shelter-help__message-info-list">
					<li class="shelter-help__message-info-list-item">принесите на акцию в "Зоомир" (у Парка Пушкина) 6
						декабря (воскресенье) с 12 до 16 ч
					</li>
					<li class="shelter-help__message-info-list-item">можно диспетчеру приюта на 250 лет Челябинска
						передать (8-951-79-50-685 Маргарита)
					</li>
					<li class="shelter-help__message-info-list-item">если оба варианта Вам неудобны, напишите в личные
						сообщения администратору http://vk.com/id4160472 , где можно у Вас забрать.
					</li>
				</ul>
			</div>
			<div class="shelter-help__message-info">
				<h3 class="shelter-help__message-info-title"> Финансовая помощь </h3>
				<p class="shelter-help__message-info-p">Номер карты СБ: 6390 0272 9011 9176 52</p>
				<p class="shelter-help__message-info-p">Яндекс кошелек: 41001434324861</p>
				<p class="shelter-help__message-info-p">WebMoney: R246962901825</p>
				<p class="shelter-help__message-info-p">Челябинская городская общественная организация защиты животных
					"Друг"<br>
					ЧЕЛЯБИНВЕСТБАНК <br>
					р/с 40703810800120000142<br>
					БИК банка 047501779 ИНН 7447037557<br>
					Кор. счёт банка 30101810400000000779</p>
				<p class="shelter-help__message-info-p">-info-list-item">Вы можете помочь прямо сейчас и перевести любую
					сумму на наш Яндекс-кошелек</p>
			</div>
			<form class="shelter-help__donation donation paymentForm" method="POST"
				action="https://money.yandex.ru/quickpay/confirm.xml">
				<input type="hidden" name="receiver" value="41001434324861">
				<input type="hidden" name="formcomment" value="Приют для животных «Друг»">
				<input type="hidden" name="short-dest" value="Приют для животных «Друг»">
				<input type="hidden" name="quickpay-form" value="donate">
				<input type="hidden" name="targets" value="Помощь животным приюта «Друг» г.Челябинск">
				<div class="donation__form-group ">
					<label class="donation__form-label" for="sum">Сумма пожертвования</label>
					<div class="donation__form-row">
						<input type="text" class="donation__form-input" id="sum" name="sum" value="100">
						<span>руб.</span>
					</div>
				</div>
				<div class="donation__form-group" id="paymentTypes">
					<label class="donation__form-label">Способ оплаты</label>
					<div class="donation__btn-group" data-toggle="buttons">
						<label for="AC" class="donation__btn-radio-label">
							<img class="b-icon b-form-radio__ico" src="/images/quickpay-widget__any-card.png" alt=""
								title=""/>
						</label>
						<input type="radio" class="donation__btn-radio-input" name="paymentType" id="AC"
							autocomplete="off" value="AC" checked>
						<label class="donation__btn-radio-label">
							<img class="b-icon b-form-radio__ico" src="/images/quickpay-widget__mobile.png" alt=""
								title="">
						</label>
						<input for="MC" type="radio" class="donation__btn-radio-input" name="paymentType" id="MC"
							autocomplete="off" value="MC">
						<label for="PC" class="donation__btn-radio-label">
							<img class="b-icon b-form-radio__ico" src="/images/quickpay-widget__yamoney.png" alt=""
								title="">
						</label>
						<input type="radio" class="donation__btn-radio-input" name="paymentType" id="PC"
							autocomplete="off" value="PC">
					</div>
				</div>
				<div class="donation__form-group" id="commentGroup">
					<label class="donation__form-label" for="comment">Комментарий (необязательно)</label>
						<textarea class="donation__form-textarea" id="comment" name="comment" rows="3"
							placeholder="Здесь можно указать цель пожертвования, например, на корм и лечение животных."></textarea>
				</div>
				<div class="donation__button-cover">
					<button class="donation__button" type="submit">ПОМОЧЬ</button>
				</div>
			</form>
		</div>
	</div>


	<div class="shelter-contacts">
		<h1 class="shelter-contacts__title">КОНТАКТЫ</h1>
		<div class="shelter-contacts__title">
			<div class="shelter-contacts__message-info">
				<ul class="shelter-contacts__list">
					<li class="shelter-contacts__list-item">Диспетчер ЧГООЗЖ"Друг" 8-951-79-50-685 Маргарита</li>
					<li class="shelter-contacts__list-item">8-902-894-61-76 контактный телефон председателя ЧГООЗЖ
						"Друг" Ворониной Татьяны Семёновны <br>
						Звоните настойчиво, так как Т.С. в основном находится на территории приюта, убирает в вольерах,
						кормит, выгуливает и готовит еду животным. Поэтому ответить на звонок может не сразу.<br>
					</li>
				</ul>
			</div>
			<div class="shelter-contacts__message-form-container">
				<form class="shelter-contacts__message-form" action="SendEmail" method="POST">
					<div class="shelter-contacts__form-group">
						<input type="text" class="shelter-contacts__form-input" id="inputName" placeholder="Имя" name="name">
					</div>
					<div class="shelter-contacts__form-group">
						<input type="email" class="shelter-contacts__form-input" id="inputEmail" placeholder="Email" name="email">
					</div>
					<div class="shelter-contacts__form-group">
						<input type="text" class="shelter-contacts__form-input" id="inputTopic" placeholder="Тема" name="subject">
					</div>
					<div class="shelter-contacts__form-group">
						<textarea class="shelter-contacts__form-textarea" id="inputMessage"
							placeholder="Сообщение" name="text"></textarea>
					</div>
					<button class="shelter-contacts__form-button" type="submit">Отправить</button>
				</form>
			</div>
		</div>
	</div>
